/*
    You can add your own custom styles here.
*/

// Define your color palette
$primary-color: #000305;
$secondary-color: #5e6b72;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;


// Define your typography
$font-family: Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
$link-color: $secondary-color;
$link-hover-color: $primary-color;
