// Add your custom SCSS code below

// Custom variables
$primary-color: #191a1b;
$secondary-color: #858c85;


// Custom styles
body {
  background-color: $primary-color;
}

h1 {
  color: $secondary-color;
}
